
// Core
@use "./core/colors.module.scss";
@use "./core/layout.module.scss";
@use "./core/responsive.module.scss";
@use "./core/spacing.module.scss";
@use "./core/theming.module.scss";
@use "./core/typography.module.scss";


// Components


// Pages

.loadingScreen{
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #202020;
    color: white;
}